.ContentList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ContentListComments {
    @extend .ContentList;
    overflow: hidden;
    margin: 20px 0 0 -20px;
    padding-left: 20px;
}

.ContentListItem {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0 0;
}

.ContentListNestedComments {
    @extend .ContentList;
    padding: 0 0 0 20px;
}

.TableHeader {
    box-shadow: inset 0px 0px 0px 1px #dbe1e1de !important;
}

.TableHeaderOrderSelector {
    cursor: pointer;
}

.TableHeaderOrderAsc::before {
    content: "▲";
    padding-right: 10px;
}

.TableHeaderOrderDesc::before {
    content: "▼";
    padding-right: 10px;
}